<br><footer class="navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <p style="color:white;">Copyright &copy; Sbtetworld | Designed by <a href="https://www.facebook.com/khalidh.khalid" rel="nofollow">Sm Khalidh</a></p>
        </div>
       <!--  <div class="col-md-6 col-xs-4 col-sm-4 text-right">
          <a href="https://www.facebook.com/neetgov.in/" target="_blank"><i class="fa fa-facebook-square" style="font-size:200%;"></i></a>&nbsp;&nbsp;&nbsp;
          <a href="https://www.linkedin.com/in/sbtetworld-fast-results-79305a141/" target="_blank"><i class="fa fa-linkedin-square" style="font-size:200%;"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
         <!--  <a href="https://plus.google.com/u/0/107659702751121090928" target="_blank"><i class="fa fa-google-plus-square" style="font-size:25px"></i></a> -->
        <!-- </div> -->
      </div>
    </div>
 
</footer>